@import "reset.css";

body {
  background-image: url('../images/background.jpg');
  font-family: 'Custom Font', sans-serif;
  color: white;
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

form {
  display: flex;
  margin-bottom: 20px;
}

input[type='text'] {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px 0 0 5px;
  outline: none;
  flex-grow: 1;
}

button[type='submit'] {
  padding: 10px;
  background-color: #48bb78;
  color: white;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  outline: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  margin-bottom: 10px;
}

li.completed span {
  text-decoration: line-through;
}

button {
  padding: 5px 10px;
  background-color: #48bb78;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  margin-left: 10px;
}
